.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  @apply border-4 shrink-0 h-auto w-[50%] rounded-3xl py-20 px-7 min-w-max sm:max-w-sm;
}

.profile_img {
  @apply border-4 border-gray-light w-[135px] rounded-full shadow-lg cursor-pointer;
  @apply hover:border-darkBlue;
}

.textbox {
  @apply border-0 px-5 py-4 rounded-xl w-5/6 shadow-sm text-lg;
  @apply focus:outline-none;
}

.btn {
  @apply border bg-blue w-3/4 py-4 rounded-lg text-white text-xl shadow-sm text-center;
}

.btn:hover {
  background-color: #3168df;
}
